<div class="w-full">
  <div id="canvas-container">
  <canvas id="technology-radar" class="relative flex justify-center items-center mx-auto p-2 aspect-square w-2/3 m:w-1/2 s:w-full rounded-full mb-8">
    <div class="w-2 h-2 bg-black absolute rounded-full cursor-pointer top-[430px] left-[180px]"></div>
    <div class="w-full border border-black absolute top-1/2"></div>
    <div class="h-full border border-black absolute left-1/2"></div>
    <div id="maturity-4" class="flex justify-center items-center w-full h-full rounded-full border border-black border-2">
      <div id="maturity-3" class="flex justify-center items-center w-3/4 h-3/4 rounded-full border border-black border-2">
        <div id="maturity-2" class="flex justify-center items-center w-2/3 h-2/3 rounded-full border border-black border-2">
          <div id="maturity-1" class="flex justify-center items-center w-1/2 h-1/2 rounded-full border border-black border-2">

          </div>
        </div>
      </div>
    </div>
  </canvas>
  </div>
</div>

<table class="table-auto w-full">
    <thead>
    <th class="text-left">Name</th>
    <th class="pl-3 text-left">Description</th>
    <th class="pl-3 text-left">Type</th>
    <th class="pl-3 text-left">Maturity</th>
    <th class="pl-3"></th>
    <th class="pl-3"></th>
    </thead>
    <tbody>
    <tr *ngFor="let technology of technologies">
        <td class="py-3">{{technology.name}}</td>
        <td class="pl-3">{{technology.description}}</td>
        <td class="pl-3">{{technology.maturity}}</td>
        <td class="pl-3">{{technology.type}}</td>
        <td class="pl-3"><a routerLink="/technology/detail/{{technology._id}}"  class="inline-block border border-blue-500 rounded py-1 px-2 bg-blue-500 text-white cursor-pointer">Detail</a></td>
        <td class="pl-3"><a routerLink="/technology/edit/{{technology._id}}" class="inline-block border border-blue-500 rounded py-1 px-2 bg-blue-500 text-white cursor-pointer">Edit</a></td>
        <td class="pl-3"><a (click)="onDelete(technology._id)" class="inline-block border border-red-500 rounded py-1 px-2 bg-red-500 text-white cursor-pointer">Delete</a></td>
    </tr>
    </tbody>
</table>
