
<div class="w-full mx-auto">
  <h2>{{technology?.name}}</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="technologyForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <input type="hidden" name="organisation_id" id="organisation_id" formControlName="organisation_id"/>
    <input type="hidden" name="user_id" id="user_id" formControlName="user_id"/>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name:</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             type="text" id="name" name="name" formControlName="name">
      <div *ngIf="isFieldValid('name')" class="text-red-500 text-sm mt-1">
        {{ getErrorMessage('name') }}
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="description">Description:</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             type="text" id="description" description="description" formControlName="description">
      <div *ngIf="isFieldValid('description')" class="text-red-500 text-sm mt-1">
        {{ getErrorMessage('description') }}
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="description">Decision:</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             type="text" id="decision" description="decision" formControlName="decision">
      <div *ngIf="isFieldValid('decision')" class="text-red-500 text-sm mt-1">
        {{ getErrorMessage('decision') }}
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="type">Type:</label>
      <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="type" id="type" formControlName="type">
        <option value="1">assess</option>
        <option value="2">trial</option>
        <option value="3">adopt</option>
        <option value="4">hold</option>
      </select>
      <div *ngIf="isFieldValid('type')" class="text-red-500 text-sm mt-1">
        {{ getErrorMessage('type') }}
      </div>
    </div>


    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="type">Maturity:</label>
      <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="maturity" id="maturity" formControlName="maturity">
        <option value="1">Techniques</option>
        <option value="2">Tools</option>
        <option value="3">Platforms</option>
        <option value="4">Language & Frameworks</option>
      </select>
      <div *ngIf="isFieldValid('maturity')" class="text-red-500 text-sm mt-1">
        {{ getErrorMessage('maturity') }}
      </div>
    </div>

    <div class="flex items-center my-4">
      <input type="checkbox" name="is_published" id="is_published" formControlName="is_published" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="is_published" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is published?</label>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit">Create
      </button>
    </div>
  </form>
</div>
